@using Microsoft.Extensions.Localization
@using DataAccess.Models
@model TradeExchangeRates
@inject IStringLocalizer<IndexModel> Localizer

<h4>@Localizer["Table"] @Model.Table</h4>

<h6>@Localizer["EffectiveDate"]: @Html.DisplayFor(model => model.EffectiveDate)</h6>
<h6>@Localizer["TradingDate"]: @Html.DisplayFor(model => model.TradingDate)</h6>

<partial name="_TradeRates.cshtml" model="Model.Rates"/>
